body {
	text-align: center;
}
svg {
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	-webkit-box-shadow: -10px 10px 10px #DDD;
	-moz-box-shadow: -10px 10px 10px #DDD;
	box-shadow: -10px 10px 10px #DDD;
	border: solid 2px #AAA;
}